li {
    list-style-type: none;
}

p {
    margin-bottom: 0;
}

a:hover {
    cursor: pointer;
}

.main-menu {
    display: flex;
    justify-content: center;

    li {
        padding: 5px;
    }
}

.test-buttons {
    display: flex;
    flex-direction: column;

    .fetch-button {
        width: 150px;
        margin-bottom: 5px;
        // align-self: center;
    }
}
